.table-container {
    flex: 1;
    overflow-y: auto;
}

.loading-search {
    height: 50px;
    background: linear-gradient(90deg, #f0f0f0, #e0e0e0, #f0f0f0);
    margin-bottom: 10px;
    animation: blink 1.5s infinite;
    margin-bottom: 20px;
}

.loading-table {
    margin-bottom: 10px;
    animation: blink 1.5s infinite;
    background: linear-gradient(90deg, #f0f0f0, #e0e0e0, #f0f0f0);
    animation: blink 1.5s infinite;
    padding: 10px;
    height: 550px;
}

.parent-div-pagination-tile {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page-number-tile {
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    animation: blink 1.5s infinite;
    background: linear-gradient(90deg, #f0f0f0, #e0e0e0, #f0f0f0);
    animation: blink 1.5s infinite;
}


@keyframes blink {
    0% {
        background-position: -100px;
    }
    100% {
        background-position: 100px;
    }
}
